# Игнорируем виртуальное окружение
venv/
.env/

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем собранные статические файлы (если есть)
dist/
build/
